# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments
env/
venv/
ENV/
.venv/

# Jupyter Notebook
.ipynb_checkpoints

# Model and data files
*.pkl
*.joblib
*.h5
*.ckpt
*.pb

# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

# Tkinter/pygame window screenshots
*.png
*.jpg

